# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.op-project.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\game\op-project\.idea\.idea.op-project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
